@font-face {
    font-family: 'Resotho';
    src: url('Resotho-Extralight.woff2') format('woff2'),
        url('Resotho-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Resotho';
    src: url('Resotho-ExtralightItalic.woff2') format('woff2'),
        url('Resotho-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

