<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/resotho" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/kharkiv-tone" rel="stylesheet">
    <link rel="stylesheet" href="fonts/kharkiv-tone/stylesheet.css">
    <link href="https://fonts.cdnfonts.com/css/soyuz-grotesk" rel="stylesheet">
    <link rel="stylesheet" href="style/index.css">
    <title>Glavnaya</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header_block">
                    <div class="logo">
                        <a href="#"><img src="img/logo.svg" alt=""></a>
                    </div>
                    <div class="social_menu">
                        <h4>Подписывайтесь:</h4>
                        <ul>
                            <li>
                                <a href="#"><img src="img/tg.svg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/wk.svg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/youtube.svg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/x.svg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/t.svg" alt=""></a>
                            </li>
                            <li>
                               <img src="img/star.svg" alt="">
                            </li>
                            <li>
                                <a href="#"><img src="img/vc.svg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_child">
                        <ul>
                            <li class="menu_child1"><a href="#" class="contact-btn">связь с нами</a></li>
                            <li class="menu_child2"><a href="#">меню</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header_menu">
                <div class="container">
                    <div class="menu_accordion">
                        <button class="accordion_btn">
                            услуги 
                            <svg width="15" height="7" viewBox="0 0 15 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.5L7.5365 6.5M14 0.5L7.4635 6.5" stroke="white"/>
                            </svg>
                        </button>
                        <div class="accordion_body">
                            <a href="#">
                                <span>[ 01 ]</span>
                                <span>Комплексные решения</span>
                            </a>
                            <a href="#">
                                <span>[ 02 ]</span>
                                <span>Создать свой бренд</span>
                            </a>
                            <a href="#">
                                <span>[ 03 ]</span>
                                <span>Магазин сайтов</span>
                            </a>
                            <a href="#">
                                <span>[ 04 ]</span>
                                <span>Построить отдел маркетинга и продаж</span>
                            </a>
                        </div>
                    </div>
                    <div class="header_menu-links">
                        <a href="#" class="header_menu-link">о компании</a>
                        <a href="#" class="header_menu-link">Резиденты</a>
                        <a href="#" class="header_menu-link">Технологии AI</a>
                        <a href="#" class="header_menu-link">Кейсы</a>
                        <a href="#" class="header_menu-link">Блог</a>
                        <a href="#" class="header_menu-link">контакты</a>
                        <a href="#" class="header_menu-link contact-btn">связь с нами</a>
                        <div class="header_menu-social">
                            <a href="#"><img src="img/menu-tg.svg" alt=""></a>
                            <a href="#"><img src="img/menu-wk.svg" alt=""></a>
                            <a href="#"><img src="img/menu-yt.svg" alt=""></a>
                            <a href="#"><img src="img/menu-x.svg" alt=""></a>
                            <a href="#"><img src="img/menu-chat.svg" alt=""></a>
                            <a href="#"><img src="img/menu-dzen.svg" alt=""></a>
                            <a href="#"><img src="img/menu-vcru.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <main>
            <div class="hero main-hero brend-hero">
                <div class="container">
                    <div class="breadcrumb_block">
                        <nav aria-label="breadcrumb" class="breadcrumb_block-nav">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Главная </a></li>
                              <li class="breadcrumb-item"><a href="#">Услуги <span> /</span></a></li>
                              <li class="breadcrumb-item active" aria-current="page">Станьте автором собственного бренда</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="hero_block">
                        <div class="title_hero title-main">
                            <h1>Станьте автором собственного бренда</h1>
                            <h3>От разработки идеи до присутствия на полках</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="author">
                <div class="container">
                    <div class="author_block">
                        <div class="author_top">
                            <img src="img/logo2.svg" alt="">
                            <h3>От идеи до реализации продукта</h3>
                            <h2>ВОПЛОТИТЕ СВОЮ МЕЧТУ И СТАНЬТЕ АВТОРОМ СОБСТВЕННОГО БРЕНДА</h2>
                        </div>
                        <div class="author_texts">
                            <p>Создание собственного отдела маркетинга и продаж открывает перед компанией широкие возможности для развития и увеличения прибыли. Путем объединения усилий и сплочения команды внутри отдела можно добиться значительных результатов.</p>
                            <p>Задача маркетингового отдела заключается в том, чтобы привлечь внимание потенциальных клиентов к продукции или услугам компании. Он разрабатывает стратегии продвижения, проводит маркетинговые исследования, создает рекламные кампании и работает над улучшением имиджа бренда.</p>
                            <p>Отдел продаж, в свою очередь, занимается непосредственным продвижением товаров или услуг компании, заключением сделок и увеличением объема продаж. Команда продажников работает на привлечение новых клиентов, удержание текущих и развитие долгосрочных отношений с партнерами.</p>
                            <p>Сплоченная работа между отделом маркетинга и продаж позволяет эффективно координировать усилия по привлечению и удержанию клиентов. Обмен информацией, совместные мероприятия и постоянное взаимодействие помогают достичь синергетического эффекта и увеличить конверсию.</p>
                            <p>Таким образом, создание и сплочение собственного отдела маркетинга и продаж является ключевым фактором для успешного развития компании, повышения ее конкурентоспособности и увеличения прибыли.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="business business2">
                <div class="container">
                    <div class="business_block">
                        <div class="title">
                            <img src="img/gradus.svg" alt="">
                            <h2>5 причин, чтобы реализовать мечту и запустить собственный бренд с нами</h2>
                            <h3>Успешный опыт, наработанные связи и реализованные кейсы ваш гарант к успешному старту</h3>
                        </div>
                        <div class="slider_block">
                            <!-- Swiper -->
                            <div class="business_arrow">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <div class="title_top">
                                                <h3>01.</h3>
                                            </div>
                                            <div class="info_b">
                                                <h4>Успешный запуск 7 брендов</h4>
                                                <p>
                                                    Мы запустили 7 брендов которые присутствуют на полках: <br>
                                                    [ 01 ] Название бренда <br>
                                                    [ 02 ] Бренд №2 <br>
                                                    [ 03 ] Название бренда <br>
                                                    [ 04 ] Название бренда <br>
                                                    [ 05 ] Бренд №5 <br>
                                                    [ 06 ] Название <br>
                                                    [ 07 ] Название бренда
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <div class="title_top">
                                                <h3>02.</h3>
                                            </div>
                                            <div class="info_b">
                                                <h4>Партнерство с лучшими контрактными производствами</h4>
                                                <p>Налаженные связи с ответственными контрактными производствами России и Китая</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <div class="title_top">
                                                <h3>03.</h3>
                                            </div>
                                            <div class="info_b">
                                                <h4>Лучшие цены от поставщиков</h4>
                                                <p>Знаем как договориться о лучшей цене на качественное сырье</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <div class="title_top">
                                                <h3>04.</h3>
                                            </div>
                                            <div class="info_b">
                                                <h4>Выведем в сети и на маркетплейсы</h4>
                                                <p>Знаем как подготовить продукт к презентации для закупщиков и правильно презентовать и подготовить все документы</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <div class="title_top">
                                                <h3>05.</h3>
                                            </div>
                                            <div class="info_b">
                                                <h4>Возьмем продажи и продвижение на себя</h4>
                                                <p>Обладаем экспертизой в продажах и продвижении и монетизируем ваш бренд</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="marketing marketing2">
                <div class="container">
                    <div class="marketing_info marketing_info3">
                        <img src="img/logo.svg" alt="">
                        <h2>БРЕНДЫ ПОД “КЛЮЧ”</h2>
                        <p>ПОМОЖЕМ СОЗДАТЬ СОБСТВЕННЫЙ БРЕНД</p>
                    </div>
                    <div class="marketing_slider marketing_slider2 marketing_slider3">
                        <div class="swiper marketingSlider2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="item">
                                        <img src="img/marketing2-img4.png" alt="" class="item_img">
                                        <img src="img/marketing2-img4.png" alt="" class="item_img-mob">
                                        <div class="item_top item_top1">
                                            <h3>ПРОДУКТЫ ПИТАНИЯ И НАПИТКИ </h3>
                                            <p>Создадим отдел по сопровождению клиентов и работе с входящим трафиком</p>
                                        </div>
                                        <div class="item_bottom">
                                            <a href="#">подробнее 
                                                <svg width="15" height="7" viewBox="0 0 15 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 0.5L7.5365 6.5M14 0.5L7.4635 6.5" stroke="white"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <img src="img/marketing2-img5.png" alt="" class="item_img">
                                        <img src="img/marketing2-img5.png" alt="" class="item_img-mob">
                                        <div class="item_top">
                                            <h3>БАДЫ И ФИТНЕС ПРОДУКТЫ</h3>
                                            <p>Создадим отдел по сопровождению клиентов и работе с входящим трафиком</p>
                                        </div>
                                        <div class="item_bottom">
                                            <a href="#">подробнее 
                                                <svg width="15" height="7" viewBox="0 0 15 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 0.5L7.5365 6.5M14 0.5L7.4635 6.5" stroke="white"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <img src="img/marketing2-img6.png" alt="" class="item_img">
                                        <img src="img/marketing2-img6.png" alt="" class="item_img-mob">
                                        <div class="item_top">
                                            <h3>КОСМЕТИКА И КОСМЕЦЕВТИКА </h3>
                                            <p>Создадим отдел по сопровождению клиентов и работе с входящим трафиком</p>
                                        </div>
                                        <div class="item_bottom">
                                            <a href="#">подробнее 
                                                <svg width="15" height="7" viewBox="0 0 15 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 0.5L7.5365 6.5M14 0.5L7.4635 6.5" stroke="white"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <img src="img/marketing2-img13.png" alt="" class="item_img">
                                        <img src="img/marketing2-img13.png" alt="" class="item_img-mob">
                                        <div class="item_top">
                                            <h3>корма для животных</h3>
                                            <p>Создадим отдел по сопровождению клиентов и работе с входящим трафиком</p>
                                        </div>
                                        <div class="item_bottom">
                                            <a href="#">подробнее 
                                                <svg width="15" height="7" viewBox="0 0 15 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 0.5L7.5365 6.5M14 0.5L7.4635 6.5" stroke="white"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <img src="img/marketing2-img14.png" alt="" class="item_img">
                                        <img src="img/marketing2-img14.png" alt="" class="item_img-mob">
                                        <div class="item_top">
                                            <h3 class="item_top-title">бытовая химия</h3>
                                            <p>Создадим отдел по сопровождению клиентов и работе с входящим трафиком</p>
                                        </div>
                                        <div class="item_bottom">
                                            <a href="#">подробнее 
                                                <svg width="15" height="7" viewBox="0 0 15 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 0.5L7.5365 6.5M14 0.5L7.4635 6.5" stroke="white"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <img src="img/marketing2-img15.png" alt="" class="item_img">
                                        <img src="img/marketing2-img15.png" alt="" class="item_img-mob">
                                        <div class="item_top">
                                            <h3 class="item_top-title">авто - химия</h3>
                                            <p>Создадим отдел по сопровождению клиентов и работе с входящим трафиком</p>
                                        </div>
                                        <div class="item_bottom">
                                            <a href="#">подробнее 
                                                <svg width="15" height="7" viewBox="0 0 15 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 0.5L7.5365 6.5M14 0.5L7.4635 6.5" stroke="white"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="innovative_wrap">
                <div class="innovative innovative3">
                    <div class="container">
                        <div class="innovative_block">
                            <div class="title">
                                <img src="img/logo2.svg" alt="">
                                <h2>ЭТАП №1</h2>
                                <p>РАЗРАБОТКА ПРОДУКТА</p>
                            </div>
                        </div>
    
                        <div class="innovative_slider">
                            <div class="innovative_arrow innovative_arrow2">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                            <div class="swiper innovativeSlider2">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">01.</h3>
                                            <div class="item_info">
                                                <h4>Аналитика трендов и спроса</h4>
                                                <p>Мы проведем глубокий анализ текущих трендов в индустрии питания, изучим спрос потребителей и определим перспективные сегменты рынка.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">02.</h3>
                                            <div class="item_info">
                                                <h4>Разработка товарной матрицы</h4>
                                                <p>Наши эксперты помогут создать эффективную товарную матрицу, учитывая потребности аудитории и конкурентное окружение</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">03.</h3>
                                            <div class="item_info">
                                                <h4>Разработка рецептуры с помощью технолога из отрасли</h4>
                                                <p>Специалисты с многолетним опытом разработки продуктов питания помогут создать уникальную и вкусную рецептуру вашего продукта</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">04.</h3>
                                            <div class="item_info">
                                                <h4>Разработка дизайна продукта</h4>
                                                <p>Наша команда дизайнеров создаст стильный и привлекательный дизайн упаковки, который выделит ваш продукт на полках магазинов</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">05.</h3>
                                            <div class="item_info">
                                                <h4>Получение лицензий и сертификатов</h4>
                                                <p>Мы поможем оформить все необходимые лицензии и сертификаты для вашего продукта, обеспечивая его безопасность и качество</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">06.</h3>
                                            <div class="item_info">
                                                <h4>Получение патента на технологии</h4>
                                                <p>Наша команда получит для вашего бренда патенты на авторские технологии и рецептуры что сделает продукт уникальным и дорогим</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="innovative innovative3">
                    <div class="container">
                        <div class="innovative_block">
                            <div class="title">
                                <img src="img/logo2.svg" alt="">
                                <h2>ЭТАП №2</h2>
                                <p>ЗАПУСК ПРОИЗВОДСТВА</p>
                            </div>
                        </div>
    
                        <div class="innovative_slider">
                            <div class="innovative_arrow innovative_arrow3">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                            <div class="swiper innovativeSlider3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">01.</h3>
                                            <div class="item_info">
                                                <h4>Поиск контрактного производства</h4>
                                                <p>Мы найдем надежного производителя и заключим выгодный договор на производство вашего продукта с соблюдением всех стандартов качества.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">02.</h3>
                                            <div class="item_info">
                                                <h4>Поиск поставщика ингредиентов</h4>
                                                <p>Мы подберем надежных поставщиков качественных ингредиентов для вашего продукта, обеспечивая его высокое качество.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">03.</h3>
                                            <div class="item_info">
                                                <h4>Запуск партии</h4>
                                                <p>После всех подготовительных этапов мы запустим производство первой партии вашего продукта, готового к выходу на рынок.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="innovative innovative3">
                    <div class="container">
                        <div class="innovative_block">
                            <div class="title">
                                <img src="img/logo2.svg" alt="">
                                <h2>ЭТАП №3</h2>
                                <p>РЕАЛИЗАЦИЯ ПРОДУКТА</p>
                            </div>
                        </div>
    
                        <div class="innovative_slider">
                            <div class="innovative_arrow innovative_arrow4">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                            <div class="swiper innovativeSlider4">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">01.</h3>
                                            <div class="item_info">
                                                <h4>Договоры с ритейлерами</h4>
                                                <p>Мы поможем заключить выгодные договоры с крупными розничными сетями для реализации вашего продукта на прилавках магазинов.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">02.</h3>
                                            <div class="item_info">
                                                <h4>Размещение на маркетлейсах</h4>
                                                <p>Мы поможем заключить выгодные договоры с крупными розничными сетями для реализации вашего продукта на прилавках магазинов.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <h3 class="item_num">03.</h3>
                                            <div class="item_info">
                                                <h4>Рекламная и маркетинговая поддержка</h4>
                                                <p>Наша команда маркетологов разработает эффективную рекламную стратегию и предоставит всестороннюю поддержку для успешного продвижения вашего продукта.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tariff tariff2">
                <div class="container">
                    <div class="title">
                        <h2>4 тарифа по запуску вашего бренда</h2>
                    </div>
                    <div class="tariff_block">
                        <div class="swiper tariffSlider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="item item3">
                                        <div class="title_tarif">
                                            <h5>От 250 000 в месяц + бюджет</h5>
                                            <div class="tarif_info">
                                                <h3>продукт</h3>
                                                <h4>1. Анализ и разработка концепции продукта и рецептуры</h4>
                                                <a href="#">собрать тариф <img src="img/Vector1.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item item_sec item4">
                                        <div class="title_tarif">
                                            <h5>От 200 000 в месяц + бюджет</h5>
                                            <h3>Производство</h3>
                                            <h4>
                                                1. Анализ и разработка концепции продукта и рецептуры
                                                <br> <br>   
                                                2. Поиск поставщиков и запуск пилотной партии продукта
                                            </h4>
                                            <a href="#">собрать тариф <img src="img/Vector1.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item item3">
                                        <div class="title_tarif">
                                            <h5>От 100 000 в месяц + бюджет</h5>
                                            <div class="tarif_info">
                                                <h3>Реализация продукта</h3>
                                                <div class="tarif_info-texts">
                                                    <h4>1. Анализ и разработка концепции продукта и рецептуры</h4>
                                                    <h4>2. Поиск поставщиков и запуск пилотной партии продукта</h4>
                                                    <h4>3. Вывод продукта на рынок</h4>
                                                </div>
                                                <a href="#">собрать тариф <img src="img/Vector1.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item item_sec item4">
                                        <div class="title_tarif">
                                            <h5>% + бюджет</h5>
                                            <h3>Комплексное сопровождение</h3>
                                            <h4>
                                                1. Анализ и разработка концепции продукта и рецептуры
                                                <br> <br>
                                                2. Поиск поставщиков и запуск пилотной партии продукта
                                                <br> <br>
                                                3. Вывод продукта на рынок
                                                <br> <br>
                                                4. Сопровождение продукта по реализации и популярности
                                            </h4>
                                            <a href="#">собрать тариф <img src="img/Vector1.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer_main">
            <div class="container">
                <div class="footer_block">
                    <div class="footer_top">
                        <a href="#" class="logo_f"><img src="img/logo.svg" alt=""></a>
                        <div class="footer_social">
                            <a href="teL:+88007777777" class="footer_number">
                                <img src="img/phone.svg" alt="">
                                8 800 777 77 77
                            </a>
                            <div class="social_info">
                                <span>Мы онлайн</span>
                                <div class="social_links">
                                    <a href="#"><img src="img/WhatsApp.svg" alt=""></a>
                                    <a href="#"><img src="img/telegram.svg" alt=""></a>
                                    <a href="#"><img src="img/TenChat.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer_bottom">
                        <p class="footer_bottom-text">Copyright | РАНГ 2024 - Все права защищены, копирование материалов запрещено</p>
                        <div class="footer_bottom-info">
                            <a class="spn1">ООО "РАНГ" &nbsp &nbsp ИНН 7777777777</a>
                            <button class="privacy_open">Публичная оферта</button>
                            <button class="spn2 privacy_open2">Политика конфиденциальности</и>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <!-- Modal form -->
    <div class="modal_form">
        <div class="modal_wrap">
            <div class="modal_top">
                <button class="modal-close"><img src="img/close.svg" alt=""></button>
            </div>
            <h2 class="modal_title">Оставьте Ваши данные и мы перезвоним</h2>
            <form class="form_boxs">
                <div class="modal_form-box">
                    <label for="formInp1">Как к Вам обращаться? *</label>
                    <input type="text" id="formInp1" placeholder="Заполните Ваши ФИО" required>
                </div>
                <div class="modal_form-box">
                    <label for="formInp2">Ваш контактный номер телефона *</label>
                    <input type="number" id="formInp2" placeholder="Укажите Ваш номер телефона" required>
                </div>
                <div class="modal_form-box">
                    <label for="formInp3">Ваш контактный электронный адрес *</label>
                    <input type="text" id="formInp3" placeholder="Укажите Ваш электронный адрес" required>
                </div>
                <div class="modal_form-box">
                    <label for="formInp4">Какую компанию Вы представляете?</label>
                    <input type="text" id="formInp4" placeholder="Указать наименование компании  ">
                </div>
                <button class="modal_form-btn thank_open" type="submit">отправить</button>
                <p class="modal_text">Нажимая на кнопку «отправить», вы соглашаетесь с обработкой персональных данных
                </p>
            </form>
        </div>
        <div class="modal_bg"></div>
    </div>
    <!-- Modal form -->

    <!-- Modal Thank -->
    <div class="modal_thank">
        <div class="modal_wrap">
            <div class="modal_top">
                <button class="modal-close"><img src="img/close.svg" alt=""></button>
                <h2 class="modal_title">спасибо за обращение</h2>
                <h3 class="modal_text">Мы свяжемся с Вами в ближайшее время</h3>
            </div>
            <img src="img/modal-thank-img.png" alt="" class="thank_img">
            <img src="img/modal-thank-mob.png" alt="" class="thank_img-mob">
            <img src="img/modal-thank-mob-414.png" alt="" class="thank_img-mob2">
        </div>
        <div class="modal_bg"></div>
    </div>
    <!-- Modal Thank -->

    <!-- Modal Privacy -->
    <div class="modal_privacy modal_privacy1">
        <div class="modal_wrap">
            <div class="modal_top">
                <a href="#" class="modal_privacy-logo"><img src="img/logo.svg" alt=""></a>
                <button class="modal-close"><img src="img/close.svg" alt=""></button>
            </div>
            <h2 class="modal_title">публичная оферта</h2>
            <div class="privacy_texts">
                <p>
                    Настоящий документ «Политика конфиденциальности» (далее по тексту – «Политика») представляет собой правила использования /указать владельца сайта/ (далее – «мы» и/или «Администрация») данных интернет-пользователей (далее «вы» и/или «Пользователь»), собираемых с использованием сайта / указать URL сайта/ (далее – «Сайт»). <br>
                    1. Обрабатываемые данные <br>
                    1.1. Мы не осуществляем сбор ваших <a href="#!">персональных данных</a> с использованием Сайта. <br>
                    1.2. Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»). <br>
                    1.3. Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать: <br>
                    1.3.1. Информацию, которую вы предоставляете о себе самостоятельно с использованием онлайн-форм и программных модулей Сайта, включая имя и номер телефона и/или адрес электронной почты. <br>
                    1.3.2. Данные, которые передаются в обезличенном виде в автоматическом режиме в зависимости от настроек используемого вами программного обеспечения. <br>
                    1.4. Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта. <br>
                    1.5. Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме. <br>
                    1.6. Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование. <br>
                    1.7. Вы осознаете и принимаете возможность использования на Сайте программного обеспечения третьих лиц, в результате чего такие лица могут получать и передавать указанные в п.1.3 данные в обезличенном виде.
                    Пример! К указанному программному обеспечению третьих лиц относятся системы сбора статистики посещений Google Analytics и Яндекс.Метрика. <br>
                    1.8. Состав и условия сбора обезличенных данных с использованием программного обеспечения третьих лиц определяются непосредственно их правообладателями и могут включать:
                    данные браузера (тип, версия, cookie); <br>
                    данные устройства и место его положения;
                    данные операционной системы (тип, версия, разрешение экрана);
                    данные запроса (время, источник перехода, IP-адрес). <br>
                    1.9. Администрация не несет ответственность за порядок использования Обезличенных данных Пользователя третьими лицами.
                    Готовое решение для вашего бизнеса
                    Пакет документов для сайта
                    Документы для популярных моделей интернет-сервисов. Гарантия ограничения ответственности и налоговой чистоты.
                    Ознакомиться с решением <br>
                    2. Цели обработки данных <br>
                    2.1. Администрация использует данные в следующих целях: <br>
                    2.1.1. Обработка поступающих запросов и связи с Пользователем; <br>
                    2.1.2. Информационное обслуживание, включая рассылку рекламно-информационных материалов; <br>
                    2.1.3. Проведение маркетинговых, статистических и иных исследований; <br>
                    2.1.4. Таргетирование рекламных материалов на Сайте. <br>
                    3. Требования к защите данных <br>
                    3.1. Администрация осуществляет хранение данных и обеспечивает их охрану от несанкционированного доступа и распространения в соответствии с внутренними правилами и регламентами.
                    3.2. В отношении полученных данных сохраняется конфиденциальность, за исключением случаев, когда они сделаны Пользователем общедоступными, а также когда используемые на Сайте технологии и программное обеспечение третьих лиц либо настройки используемого Пользователем программного обеспечения предусматривают открытый обмен с данными лицами и/или иными участниками и пользователями сети Интернет.
                    3.3. В целях повышения качества работы Администрация вправе хранить лог-файлы о действиях, совершенных Пользователем в рамках использования Сайта в течение 1 (Одного) года.
                    4. Передача данных
                    4.1. Администрация вправе передать данные третьим лицам в следующих случаях:
                    Пользователь выразил свое согласие на такие действия, включая случаи применения Пользователем настроек используемого программного обеспечения, не ограничивающих предоставление определенной информации;
                    Передача необходима в рамках использования Пользователем функциональных возможностей Сайта;
                    Передача требуется в соответствии с целями обработки данных;
                    В связи с передачей Сайта во владение, пользование или собственность такого третьего лица;
                    По запросу суда или иного уполномоченного государственного органа в рамках установленной законодательством процедуры;
                    Для защиты прав и законных интересов Администрации в связи с допущенными Пользователем нарушениями.
                    5. Изменение Политики конфиденциальности
                    5.1. Настоящая Политика может быть изменена или прекращена Администрацией в одностороннем порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики.
                    5.2. Действующая редакция Политики находится на Сайте в сети Интернет по адресу.Действующая редакция Политики от __________ 20__ г.
                </p>
            </div>
        </div>
        <div class="modal_bg"></div>
    </div>

    <div class="modal_privacy modal_privacy2">
        <div class="modal_wrap">
            <div class="modal_top">
                <a href="#" class="modal_privacy-logo"><img src="img/logo.svg" alt=""></a>
                <button class="modal-close"><img src="img/close.svg" alt=""></button>
            </div>
            <h2 class="modal_title">Политика конфиденциальности</h2>
            <div class="privacy_texts">
                <p>
                    Настоящий документ «Политика конфиденциальности» (далее по тексту – «Политика») представляет собой правила использования /указать владельца сайта/ (далее – «мы» и/или «Администрация») данных интернет-пользователей (далее «вы» и/или «Пользователь»), собираемых с использованием сайта / указать URL сайта/ (далее – «Сайт»). <br>
                    1. Обрабатываемые данные <br>
                    1.1. Мы не осуществляем сбор ваших <a href="#!">персональных данных</a> с использованием Сайта. <br>
                    1.2. Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»). <br>
                    1.3. Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать: <br>
                    1.3.1. Информацию, которую вы предоставляете о себе самостоятельно с использованием онлайн-форм и программных модулей Сайта, включая имя и номер телефона и/или адрес электронной почты. <br>
                    1.3.2. Данные, которые передаются в обезличенном виде в автоматическом режиме в зависимости от настроек используемого вами программного обеспечения. <br>
                    1.4. Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта. <br>
                    1.5. Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме. <br>
                    1.6. Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование. <br>
                    1.7. Вы осознаете и принимаете возможность использования на Сайте программного обеспечения третьих лиц, в результате чего такие лица могут получать и передавать указанные в п.1.3 данные в обезличенном виде.
                    Пример! К указанному программному обеспечению третьих лиц относятся системы сбора статистики посещений Google Analytics и Яндекс.Метрика. <br>
                    1.8. Состав и условия сбора обезличенных данных с использованием программного обеспечения третьих лиц определяются непосредственно их правообладателями и могут включать:
                    данные браузера (тип, версия, cookie); <br>
                    данные устройства и место его положения;
                    данные операционной системы (тип, версия, разрешение экрана);
                    данные запроса (время, источник перехода, IP-адрес). <br>
                    1.9. Администрация не несет ответственность за порядок использования Обезличенных данных Пользователя третьими лицами.
                    Готовое решение для вашего бизнеса
                    Пакет документов для сайта
                    Документы для популярных моделей интернет-сервисов. Гарантия ограничения ответственности и налоговой чистоты.
                    Ознакомиться с решением <br>
                    2. Цели обработки данных <br>
                    2.1. Администрация использует данные в следующих целях: <br>
                    2.1.1. Обработка поступающих запросов и связи с Пользователем; <br>
                    2.1.2. Информационное обслуживание, включая рассылку рекламно-информационных материалов; <br>
                    2.1.3. Проведение маркетинговых, статистических и иных исследований; <br>
                    2.1.4. Таргетирование рекламных материалов на Сайте. <br>
                    3. Требования к защите данных <br>
                    3.1. Администрация осуществляет хранение данных и обеспечивает их охрану от несанкционированного доступа и распространения в соответствии с внутренними правилами и регламентами.
                    3.2. В отношении полученных данных сохраняется конфиденциальность, за исключением случаев, когда они сделаны Пользователем общедоступными, а также когда используемые на Сайте технологии и программное обеспечение третьих лиц либо настройки используемого Пользователем программного обеспечения предусматривают открытый обмен с данными лицами и/или иными участниками и пользователями сети Интернет.
                    3.3. В целях повышения качества работы Администрация вправе хранить лог-файлы о действиях, совершенных Пользователем в рамках использования Сайта в течение 1 (Одного) года.
                    4. Передача данных
                    4.1. Администрация вправе передать данные третьим лицам в следующих случаях:
                    Пользователь выразил свое согласие на такие действия, включая случаи применения Пользователем настроек используемого программного обеспечения, не ограничивающих предоставление определенной информации;
                    Передача необходима в рамках использования Пользователем функциональных возможностей Сайта;
                    Передача требуется в соответствии с целями обработки данных;
                    В связи с передачей Сайта во владение, пользование или собственность такого третьего лица;
                    По запросу суда или иного уполномоченного государственного органа в рамках установленной законодательством процедуры;
                    Для защиты прав и законных интересов Администрации в связи с допущенными Пользователем нарушениями.
                    5. Изменение Политики конфиденциальности
                    5.1. Настоящая Политика может быть изменена или прекращена Администрацией в одностороннем порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики.
                    5.2. Действующая редакция Политики находится на Сайте в сети Интернет по адресу.Действующая редакция Политики от __________ 20__ г.
                </p>
            </div>
        </div>
        <div class="modal_bg"></div>
    </div>
    <!-- Modal Privacy -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>